accelerate
bitsandbytes
torch
transformers
einops
sentencepiece
triton
trl
spaces
langchain-community>=0.3.13
python-dotenv>=1.0.1
langchain>=0.3.13
langchain-core>=0.3.28
langchain-text-splitters>=0.3.4
pydantic>=2.10.4
tqdm>=4.67.1
protobuf>=5.29.2
qdrant-client>=1.12.1
langchain_huggingface
langchain_qdrant
gradio
langchain_openai
langchain_cerebras 
langchain_google_genai